/* foooter  */
.footer {
  margin-top: auto;
  padding: 2rem 6rem;
  height: 10.3125rem;
  background: var(--bg-color);
}

.footer-content {
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
}

.footer-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.125rem;
}

.footer-about h3 {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-family: var(--font-para);
  font-weight: 700;
}

.footer-about p {
  color: var(--third-color);
  font-size: 0.75rem;
  width: 10.75rem;
  font-family: var(--font-para);
}

.footer-about span {
  font-weight: bold;
}

.footer-about_links {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.footer-about_links img {
  width: 1rem;
  height: 1rem;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.8125rem;
}

.footer-contact h3 {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-family: var(--font-para);
  font-weight: 700;
}

.footer-contact_links {
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
}

.footer-contact_links img {
  width: 1.2rem;
  height: 1.2rem;
}

.footer-line {
  height: 0.08581rem;
  background-color: var(--third-color);
  justify-content: center;
  margin: 0.5rem;
}

.footer-copyright {
  color: var(--third-color);
  font-size: 0.75rem;
  font-family: var(--font-para);
  line-height: 0.5rem;
  letter-spacing: 0.01606rem;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 1.5rem 3rem;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0.5rem 2rem;
    height: 8.3125rem;
  }
}

@media screen and (max-width: 430px) {
  .footer {
    padding: 0.5rem 1rem;
    height: 100% ;
  }
  .footer-content{
    padding-top: 2rem;
  }

  .footer-about {
    gap: 0.4rem;
  }
  .footer-about h3 {
    font-size: 1.1rem;
  }
  .footer-about p {
    font-size: 0.8rem;
  }
  .footer-about span {
    font-size: 0.8rem;
  }
  .footer-about_links img {
    width: 1.3rem;
    height: 1.3rem;
  }

  .footer-contact {
    gap: 1.5rem;
  }
  .footer-contact h3 {
    font-size: 1.1rem;
  }

  .footer-contact_links {
    gap: 1.5rem;
  }

  .footer-contact_links img {
    width: 1.3rem;
    height: 1.3rem;
  }
  .footer-line {
    display: none;
  }
  .footer-copyright p {
    font-size: 0.6rem;
    line-height: 1rem;
    letter-spacing: 0.01606rem;
  }
}
