/* global variables  */
:root {
    --bg-color:#3e3e82 ;
    --primary-color: #ffffff;
    --secondary-color: #FFCD39;
    --third-color:#B6B6FF;
    --font-para: 'Poppins', serif;
    --font-title: 'Poppins', serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background: var(--bg-color);
}

a{
    color: unset;
    text-decoration: none;
}



  