/* programs */

.program {
  padding: 2rem 6rem;
  align-items: center;
  justify-content: center;
}
.program-heading {
  align-items: center;
  justify-content: center;
}

.program-heading h1 {
  text-align: center;
  color: var(--secondary, #ffcd39);
  font-size: 1.5rem;
  font-family: var(--font-title);
  font-weight: 700;
  padding-bottom: 1.5rem;
}

.program-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.program-content {
  display: flex;
  justify-content: space-between;
  width: 33.5625rem;
  height: 7.6875rem;
  flex-shrink: 0;
  border-radius: 12px 96px 96px 12px;
  border: 3px solid var(--third-color);
  flex-direction: row;
}

.program-content-body {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.4rem;
}

.program-content-body_details {
  display: flex;
  gap: 1.3125rem;
}
.program-content_date {
  display: flex;
  align-items: center;
  gap: 0.46875rem;
}

.program-content_date p {
  color: var(--third-color);
  font-size: 0.9375rem;
  font-family: var(--font-title);
  font-weight: 700;
}

.program-content_time {
  display: flex;
  align-items: center;
  gap: 0.46875rem;
}

.program-content_time p {
  color: var(--third-color);
  font-size: 0.9375rem;
  font-family: var(--font-title);
  font-weight: 700;
}

/* .program-content_conducted {
  display: flex;
  padding: 0.1rem 0.1rem;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 2px;
  background: var(--third, #b6b6ff);
} */
.program-content_conducted p {
  color: var(--secondary-color);
  font-size: 0.9375rem;
  font-family: var(--font-title);
  font-weight: 700;
}

.program-content-body_main h2 {
  display: flex;
  width: 23.8125rem;
  flex-direction: column;
  color: var(--white, #fff);
  font-size: 1.2rem;
  font-family: var(--font-title);
  font-weight: 700;
}

.program-content-cta {
  display: flex;
  width: 6rem;
  height: 6rem; 
  align-self: center;
}



@media screen and (max-width: 1024px) {
  .program {
    padding: 1.5rem 3rem;
  }
  .program-content {
    width: 27.5625rem;
    height: 7.6875rem;
  }
  .program-content-body {
    padding: 0.5rem;
    gap: 0.2rem;
  }
  .program-content-body_details {
    gap: 0.8rem;
  }
  .program-content-body_main h2 {
    width: 19.8125rem;
    font-size: 1.155rem;
  }
}

@media screen and (max-width: 768px) {
  .program {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 426px) {
  .program {
    padding: 1.5rem 0.5rem;
  }
  .program-heading h1 {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: left;
    padding-bottom: 0.7rem;
  }
  .program-content {
    width: 100%;
    height: 6rem;
    justify-content: space-between;
    border: 2px solid var(--third-color);
  }
  .program-content-body {
    padding: 0.3rem 0rem 0rem 0.3rem;
  }
  .program-content_date {
    gap: 0.2rem;
  }
  .program-content_date img {
    width: 1rem;
    height: 1rem;
  }
  .program-content_date p {
    font-size: 0.7rem;
    font-weight: 500;
  }
  .program-content_time {
    gap: 0.2rem;
  }
  .program-content_time img {
    width: 1rem;
    height: 1rem;
  }
  .program-content_time p {
    font-size: 0.7rem;
    font-weight: 500;
  }
  .program-content_conducted {
    padding: 0.125rem 0.25rem;
  }
  .program-content_conducted p {
    font-size: 0.5rem;
    font-weight: 500;
  }
  .program-content-body_main {
    width: 15.875rem;
    font-size: 0.875rem;
  }
  .program-content-body_details {
    gap: 1rem;
  }
  .program-content-body_main h2 {
    width: 16rem;
    font-size: 1.2rem;
  }
  .program-content-cta {
    display: flex;
    width: 5rem;
    height: 5rem; 
    align-self: center;
  }
  .program-content-cta a{
    align-self: center;
  }

  .program-content-cta img{
    width: 4.5rem;
    height: 4.5rem;
  }


}
