{% load static %}

<link rel="stylesheet" href="{% static 'stylesheets/footer.css' %}">

    <!-- footer  -->
    <div class="footer">
        <div class="footer-content">
            <div class="footer-about">
                <h1>
                    Devagiri Campus
                </h1>
                <p>
                    Designed & Developed by <span><a href="https://aswindev.in">Aswindev.in</a></span>
                </p>
                <div class="footer-about_links">
                    <a href="https://github.com/Aswindevpk">
                        <img src="{% static 'assets/logo-github.svg' %}" alt="">
                    </a>
                    <a href="https://www.linkedin.com/in/aswindevpk">
                        <img src="{% static 'assets/logo-linkedin.svg' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="footer-contact">
                <h1>
                    Contact Us
                </h1>
                <div class="footer-contact_links">
                    <a href="tel:+919995338872">
                        <img src="{% static 'assets/call-outline.svg' %}" alt="">
                    </a>
                    <a href="https://wa.me/+919995338872">
                        <img src="{% static 'assets/logo-whatsapp.svg' %}" alt="">
                    </a>
                    <a href="https://instagram.com/bcasjc">
                        <img src="{% static 'assets/logo-instagram.svg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-line"></div>
        <div class="footer-copyright">
            <p>© IEDC Devagiri 2023. All right reserved</p>
        </div>
    </div>