{% extends 'main.html' %} 
{% load static %} 

{% block content %}



<!-- carousel section  -->
{% if carousels %}
<div class="carousel">
  <div class="carousel-heading">
    <div data-aos="fade-up" class="carousel-heading_h1">
      <h1>Welcome to Devagiri Campus</h1>
    </div>
    <div data-aos="fade-up" class="carousel-heading_p">
      <p>website for the Devagiri college students to hangout !</p>
    </div>
  </div>
  <div data-aos="fade-up" class="carousel-image">
    {% for carousel in carousels %} 
      {% if carousel.news %}
        <img class="carousel-img" onclick="gotoUrl('{% url 'news-details' carousel.news.id %}')" src="/media/{{carousel.image}}" alt="" />
      {% elif carousel.program %}
      <img class="carousel-img" onclick="gotoUrl('{% url 'program-details' carousel.program.id %}')" src="/media/{{carousel.image}}" alt="" />
      {% else %}
      <img class="carousel-img" src="/media/{{carousel.image}}" alt="" />
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}


<script>
  document.addEventListener("DOMContentLoaded", function() {
    var images = document.getElementsByClassName("carousel-img");
    var currentIndex = 0;
  
    setInterval(function() {
      images[currentIndex].style.display = "none";
      currentIndex = (currentIndex + 1) % images.length;
      images[currentIndex].style.display = "block";
    }, 3000);
  });
  function gotoUrl(url){
    window.location.href =url ;
  }
</script>



<!-- blood donation  -->
{% if blood_req %}
<div class="blood-donation">
  <div data-aos="fade-up" class="blood-donation-heading">
    <h1>
      {% for blood in blood_req %}
      <span>{{blood.bloodGroup}}</span> 
      {% endfor %}
      Blood Urgent !</h1>
  </div>
  <div data-aos="fade-up" class="blood-donation-cta">
    <button type="button" onclick="location.href='{% url 'blood-donation-form' %}';">Donate Now</button>
  </div>
</div>
{% endif %}


<!-- programs  -->
{% if events %}
<div id="#programs" class="program">
  <div data-aos="fade-up" class="program-heading">
    <h1>PROGRAMS</h1>
  </div>
  <div class="program-section">
    {% for event in events  %}
    <div data-aos="fade-up" class="program-content">
      <div class="program-content-body">
        <div data-aos="fade-up" class="program-content-body_details">
          <div class="program-content_date">
            <img src="{% static 'assets/calendar-outline.svg' %}" alt="" />
            <p>{{event.date}}</p>
          </div>
          <div class="program-content_time">
            <img src="{% static 'assets/alarm-outline.svg' %}" alt="" />
            <p>{{event.time}}</p>
          </div>
          {% comment %} {% if event.created_by %}
          <div class="program-content_conducted">
            <p>{{event.created_by}}</p>
          </div>
          {% endif %} {% endcomment %}
        </div>
        <div data-aos="fade-up" class="program-content-body_main">
          <h2>{{event.name}}</h2>
        </div>
      </div>
      <div data-aos="fade-up" class="program-content-cta">
        <a href="{% url 'program-details' event.slug %}">
          <img src="{% static 'assets/programs-cta-arrow.svg' %}" alt="" />
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

<!-- campus  -->
{% if explores %}
<div id="" class="communities">
  <div data-aos="fade-up" class="explore-heading">
    <h1>COMMUNITIES</h1>
  </div>
  <div class="explore-infra-list">
    {% for community in communities %}
    <a href="{% url 'community-details' community.slug %}">
      <div data-aos="fade-up" class="explore-infra">
        <img src="/media/{{community.logo}}" alt="" />
        <p>{{community.name}}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endif %}



<!-- fests  -->
{% if fests %}
<div id="fests" class="fests">
  <div data-aos="fade-up" class="fest-heading">
    <h1>FESTS</h1>
  </div>
  <div class="fest-list">
    {% for fest in fests %}
    <a href="{% url 'fest-details' fest.slug %}">
      <div data-aos="fade-up" class="fest">
        <img src="/media/{{fest.logo}}" alt="" />
        <p>{{fest.name}}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endif %}



<!-- news  -->
{% if newses %}
<div id="news" class="news">
  <div data-aos="fade-up" class="news-heading">
    <h1>UPDATES</h1>
  </div>
  <div class="news-section">
    {% for news in newses  %}
    <a href="{% url 'news-details' news.slug %}">
      <div class="news-section-content">
        <div data-aos="fade-up" class="news-section-content_main">
          <h1>{{news.title}}</h1>
          <div class="news-section-content_main-date">
            <img src="{% static 'assets/calendar-outline.svg' %}" alt="" />
            <span>June, 2023, 6:07 pm</span>
          </div>
          <p>{{news.body|truncatewords:20}}</p>
        </div>
        <div data-aos="fade-up" class="news-section-content_img">
          <img src="/media/{{news.image}}" alt="" />
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endif %}


<!-- campus  -->
{% if explores %}
<div id="explore" class="explore">
  <div data-aos="fade-up" class="explore-heading">
    <h1>EXPLORE</h1>
  </div>
  <div class="explore-infra-list">
    {% for explore in explores %}
    <a href="{% url 'explore-details' explore.slug %}">
      <div data-aos="fade-up" class="explore-infra">
        <img src="/media/{{explore.image}}" alt="" />
        <p>{{explore.name}}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endif %}


 <!-- communities  -->
 {% if clubs %}
 <div class="communities">
   <div data-aos="fade-up" class="communities-heading">
     <h1>CLUBS</h1>
   </div>
   <div data-aos="fade-up" class="communities-section">
     {% for club in clubs  %}
     <a href="{% url 'club-details' club.slug %}">
       <div class="community">
         <h1>{{club.name | upper}}</h1>
       </div>
     </a>
     {% endfor %}
   </div>
 </div>
 {% endif %} 




{%endblock content%}
