{% extends 'main.html' %} 
{% load static %} 

{% block content %}



<!-- carousel section  -->
{% if carousels %}
<div class="carousel">
  <div class="carousel-heading">
    <div data-aos="fade-up" class="carousel-heading_h1">
      <h1>Welcome to Devagiri Campus</h1>
    </div>
    <div data-aos="fade-up" class="carousel-heading_p">
      <p>website for the Devagiri college students to hangout !</p>
    </div>
  </div>
  <div data-aos="fade-up" class="carousel-image">
    {% for carousel in carousels %} 
      {% if carousel.news %}
        <img class="carousel-img" onclick="gotoUrl('{% url 'news' carousel.news.slug %}')" src="/media/{{carousel.image}}" title="Devagiri college-{{carousel.title}}" alt="{{carousel.title}}" loading="eager" />
      {% elif carousel.program %}
      <img class="carousel-img" onclick="gotoUrl('{% url 'program' carousel.program.slug %}')" src="/media/{{carousel.image}}" title="Devagiri college-{{carousel.title}}" alt="{{carousel.title}}" loading="eager" />
      {% else %}
      <img class="carousel-img" src="/media/{{carousel.image}}" title="Devagiri college-{{carousel.title}}" alt="{{carousel.title}}" loading="eager" />
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}


<script>
  document.addEventListener("DOMContentLoaded", function() {
    var images = document.getElementsByClassName("carousel-img");
    var currentIndex = 0;
  
    setInterval(function() {
      images[currentIndex].style.display = "none";
      currentIndex = (currentIndex + 1) % images.length;
      images[currentIndex].style.display = "block";
    }, 4000);
  });
  function gotoUrl(url){
    window.location.href =url ;
  }
</script>



<!-- blood donation  -->
{% if blood_req %}
<div class="blood-donation">
  <div data-aos="fade-up" class="blood-donation-heading">
    <h1>
      {% for blood in blood_req %}
      <span>{{blood.bloodGroup}}</span> 
      {% endfor %}
      Blood Urgent !</h1>
  </div>
  <div data-aos="fade-up" class="blood-donation-cta">
    <button type="button" onclick="location.href='{% url 'blood-donation-form' %}';">Donate Now</button>
  </div>
</div>
{% endif %}


<!-- programs  -->
{% if events %}
<div id="programs" class="program">
  <div data-aos="fade-up" class="program-heading">
    <h1>PROGRAMS</h1>
  </div>
  <div class="program-section">
    {% for event in events  %}
    <div data-aos="fade-up" class="program-content">
      <div class="program-content-body">
        <div data-aos="fade-up" class="program-content-body_details">
          <div class="program-content_date">
            <img src="{% static 'assets/calendar-outline.svg' %}" title="Devagiri-campus-{{event.slug}}" alt="devagiri-campus-program-{{event.name}}" loading="lazy"/>
            <p>{{event.date}}</p>
          </div>
          <div class="program-content_time">
            <img src="{% static 'assets/alarm-outline.svg' %}" title="Devagiri-campus-{{event.slug}}" alt="devagiri-campus-program-{{event.name}}" alt="" loading="lazy"/>
            <p>{{event.time}}</p>
          </div>
         {% if event.created_by %}
          <div class="program-content_conducted">
            <p>{{event.created_by|slice:":8" }}</p>
          </div>
          {% endif %} 
        </div>
        <div data-aos="fade-up" class="program-content-body_main">
          <h2>{{event.name|truncatewords:6}}</h2>
        </div>
      </div>
      <div data-aos="fade-up" class="program-content-cta">
        <a href="{% url 'program' event.slug %}">
          <img src="{% static 'assets/programs-cta-arrow.svg' %}" title="Devagiri-campus-{{event.slug}}" alt="devagiri-campus-program-{{event.name}}" loading="lazy" />
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

<!-- campus  -->
{% if communities %}
<div id="communities" class="communities">
  <div data-aos="fade-up" class="communities-heading">
    <h1>COMMUNITIES</h1>
  </div>
  <div class="communities-infra-list">
    {% for community in communities %}
    <a href="{% url 'community' community.slug %}">
      <div data-aos="fade-up" class="communities-infra">
        <img src="/media/{{community.logo}}" title="{{community.slug}}-devagiri" alt="{{community.slug}}" loading="lazy" />
        <p>{{community.name}}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endif %}



<!-- fests  -->
{% if fests %}
<div id="fests" class="fests">
  <div data-aos="fade-up" class="fest-heading">
    <h1>FESTS</h1>
  </div>
  <div class="fest-list">
    {% for fest in fests %}
    <a href="{% url 'fest' fest.slug %}">
      <div data-aos="fade-up" class="fest">
        <img src="/media/{{fest.logo}}" title="devagiri-college-{{fest.slug}}-fest" alt="{{fest.slug}}" loading="lazy" />
        <p>{{fest.name}}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endif %}



<!-- news  -->
{% if newses %}
<div id="news" class="news">
  <div data-aos="fade-up" class="news-heading">
    <h1>UPDATES</h1>
  </div>
  <div class="news-section">
    {% for news in newses  %}
    <a href="{% url 'news' news.slug %}">
      <div class="news-section-content">
        <div data-aos="fade-up" class="news-section-content_main">
          <h2>{{news.title}}</h2>
          <div class="news-section-content_main-date">
            <img src="{% static 'assets/calendar-outline.svg' %}" title="{{news.slug}}" alt="{{news.title}}" loading="lazy"/>
            <span>June, 2023, 6:07 pm</span>
          </div>
          {{news.body|safe |truncatewords:18}}
        </div>
        <div data-aos="fade-up" class="news-section-content_img">
          <img src="/media/{{news.image}}" title="{{news.slug}}" alt="{{news.title}}" loading="lazy" />
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endif %}


<!-- campus  -->
{% if explores %}
<div id="explore" class="explore">
  <div data-aos="fade-up" class="explore-heading">
    <h1>EXPLORE</h1>
  </div>
  <div class="explore-infra-list">
    {% for explore in explores %}
    <a href="{% url 'explore' explore.slug %}">
      <div data-aos="fade-up" class="explore-infra">
        <img src="/media/{{explore.image}}" title="{{explore.slug}}" alt="{{explore.name}}" loading="lazy"/>
        <p>{{explore.name}}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endif %}


 <!-- clubs  -->
 {% if clubs %}
 <div id="clubs" class="clubs">
   <div data-aos="fade-up" class="clubs-heading">
     <h1>CLUBS</h1>
   </div>
   <div data-aos="fade-up" class="clubs-section">
     {% for club in clubs  %}
     <a href="{% url 'club' club.slug %}">
       <div class="club">
         <h2>{{club.name | upper}}</h2>
       </div>
     </a>
     {% endfor %}
   </div>
 </div>
 {% endif %} 




{%endblock content%}
