<!doctype html>
{% load static %}
<html lang="en">

<head>
  <meta name="keywords" content="Devagiri Campus,campus,devagiri students,student website, college, education,campussjc,St. Joseph's College Devagiri,sjc,sjc calicut,St. Joseph's,Devagiri,devagiri,Devagiri college,calicut,kozhikode,kerala,india,malabar,college" />
	<meta name="description" content="Devagiri Campus - website for the Devagiri college students to hangout !" />
	<meta name="topic" content="St. Joseph's College Devagiri" />
	<meta name="classification" content="devagiri college, calicut" />
	<meta name="author" content="www.aswindev.in www.devagiricampus.in" />
	<meta name="resource-type" content="Web Document" />
	<meta name="copyright" content="Copyright Devagiri Campus , IEDC Devagiri" />
	<meta name="distribution" content="Worldwide" />
	<meta name="district" content="Calicut, Devagiri" />
	<meta name="city" content="Calicut, Devagiri" />
	<meta name="state" content="Kerala" />
	<meta name="pin" content="673 008" />
	<meta name="country" content="India" />
	<meta name="continent" content="Asia" />
	<meta name="rating" content="General" />
	<meta name="revisit-after" content="7 days" />
  <meta name="theme-color" content="#3e3e82">
  <link rel="canonical" href="https://devagiricampus.in/">

  <meta property="og:title" content="Devagiri Campus">
  <meta property="og:description" content="Website for Devagiri college students to hangout">
  <meta property="og:image" content="https://devagiricampus.in/static/assets/logo.svg">
  <meta property="og:url" content="https://devagiricampus.in">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Devagiri Campus">


  <title>Devagiri Campus - Devagiri College Students Website.</title>

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicons/favicon.ico' %}">

  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.min.css">
    {% comment %} animate on scroll library for scroll animation {% endcomment %}
    <link rel="stylesheet" href="{% static 'aos/aos.css' %}">
    {% comment %} sweet alert for popup messages {% endcomment %}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins|Roboto">
                

    <link rel="stylesheet" href="{% static 'stylesheets/index.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/home/carousel.css' %}" />
    <link rel="stylesheet" href="{% static 'stylesheets/home/blooddonation.css' %}"/>
    <link rel="stylesheet" href="{% static 'stylesheets/home/programs.css' %}" />
    <link rel="stylesheet" href="{% static 'stylesheets/home/communities.css' %}" />
    <link rel="stylesheet" href="{% static 'stylesheets/home/news.css' %}" />
    <link rel="stylesheet" href="{% static 'stylesheets/home/explore.css' %}" />
    <link rel="stylesheet" href="{% static 'stylesheets/home/fests.css' %}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

      <!-- For iPhone and iPod Touch -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png'%}">

    
</head>

<body>
       
    {% include 'navbar.html' %}

    {% block content %}
    
    {% endblock content %}

    {% include 'footer.html' %}
    
      
</body>

<script src="{% static 'aos/aos.js' %}"></script>
<script>
  AOS.init();
</script>

</html>