{% load static %}

<link rel="stylesheet" href="{% static 'stylesheets/navbar.css' %}">
<!-- navigation bar section  -->
<div class="navbar ">
    <a href="{% url 'home' %}">
        <div class="navbar-brand ">
            <div class="navbar-brand_logo">
                <img src="{% static 'assets/logo.svg' %}" alt="">
            </div>
            <div class="navbar-brand-heading">
                <div class="navbar-brand-heading_h1">
                    <h1>
                        Devagiri Campus
                    </h1>
                </div>
                <div class="navbar-brand-heading_h2">
                    <h2>
                        powered by <span>BCA<sup>21-24</sup></span>
                    </h2>
                </div>
            </div>
        </div>
    </a>
    <div class="navbar-links">
        <p>
            <a href="{% url 'home' %}">Home</a>
        </p>
        <p>
            <a href="#programs">Programs</a>
        </p>
        <p>
            <a href="#fests">Fests</a>
        </p>
        <p>
            <a href="#news">News</a>
        </p>
        <p>
            <a href="#explore">Explore</a>
        </p>
    </div>
    <div class="navbar-menu">
        <div class="navbar-menu_toggle">
            <a class="navbar-menu_toggle-open" onclick="openDropdown()">
                <img src="{% static 'assets/bars-3-bottom-right.svg' %}" alt="" />
            </a>
            <a class="navbar-menu_toggle-close" onclick="closeDropdown()">
                <img src="{% static 'assets/x-mark.svg' %}" alt="" />
            </a>
        </div>
        <div class="navbar-menu_container">
            <div class="navbar-menu_container-links">
                <p>
                    <a href="{% url 'home' %}">Home</a>
                </p>
                <p>
                    <a href="#programs">Programs</a>
                </p>
                <p>
                    <a href="#fests">Fests</a>
                </p>
                <p>
                    <a href="#news">News</a>
                </p>
                <p>
                    <a href="#explore">Explore</a>
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    function openDropdown() {
        var dropdown = document.querySelector(".navbar-menu_container");
        var closeToggle = document.querySelector(".navbar-menu_toggle-close");
        var openToggle = document.querySelector(".navbar-menu_toggle-open");
        dropdown.style.display = "block";
        openToggle.style.display = "none";
        closeToggle.style.display = "block";
    }
    function closeDropdown() {
        var dropdown = document.querySelector(".navbar-menu_container");
        var closeToggle = document.querySelector(".navbar-menu_toggle-close");
        var openToggle = document.querySelector(".navbar-menu_toggle-open");
        dropdown.style.display = "none";
        openToggle.style.display = "block";
        closeToggle.style.display = "none";
    }
</script>




{% comment %} <header>
    <!-- navbar  -->
  <nav id="navbar" class="navbar sticky-top navbar-expand-sm ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <div id="navbarBranding" class="row">
          <img src="{% static '/images/logo_devagiri.svg' %}" alt="" style="width: 5rem;">
          <div class="col p-0">
            <h4 class="mb-0 ml-5">Devagiri Campus</h4>
            <p class="h6 mb-0">powered by <span>BCA<sup>21-24</sup></span></p>
          </div>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-expanded="true"
        data-bs-target="#navbarMenu" tabindex="-1">
        <ion-icon name="reorder-three-outline" size="large"></ion-icon>
      </button>

      <div class="collapse navbar-collapse justify-content-center" id="navbarMenu">
        <ul id="navLinks" class="navbar-nav">
          <li class="nav-item col-xl-4">
            <a class="nav-link" href="#carousel">Home</a>
          </li>
          <li class="nav-item col-xl-4">
            <a class="nav-link" href="#events">Events</a>
          </li>
          <li class="nav-item col-xl-4">
            <a class="nav-link" href="#news">News</a>
          </li>
          <li class="nav-item col-xl-4">
            <a class="nav-link" href="#about">About</a>
          </li>
        </ul>
      </div>
  </nav>
</header> {% endcomment %}


