{% extends 'main.html' %}

{% block content %}

<nav class="m-3 mt-0" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item "><a href="/"  style="text-decoration: none; color:var(--primary-color)">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{news.title}}</li>
    </ol>
  </nav>
  <div class="m-4">
    <h2 class="text-center fw-bold">{{news.title}}</h2>
    <div class="col-12 mt-3">
      <img id="img" src="/media/{{news.image}}" class="rounded" height="160px" width="100%" alt="">
    </div>
    <div class="pt-2">
      <ion-icon name="calendar-outline"></ion-icon>
      <small >{{news.created}}</small>
    </div>
    <div style="white-space: pre-line" id="body" class="mt-2">{{news.body}}</div>
    <p class="mt-2 fw-bold text-right">- Aswin</p>
  </div>
  
  {% endblock content %}