{% extends 'main.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'stylesheets/users/fest-details.css' %}">
<div class="fest-content">
    <div class="fest-content-head">
        <img src="/media/{{fest.logo}}" alt="">
        <div class="fest-content-head_main">
            <h1>{{fest.name}}</h1>
            <p>{{fest.about}}</p>
        </div>
    </div>
    <div class="fest-content-desc">
        <p>{{fest.description| safe}}</p>
    </div>
</div>
{% endblock content %}
