{% extends 'main.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'stylesheets/users/news-details.css' %}">
<div class="news-page-content">
    <div class="news-page-content-details">
        {% if news.created_by %}
        <div class="news-page-content-details_conducted">
          <span>{{news.created_by}}</span>
        </div>
        {% endif %}
        <h1>{{news.title}}</h1>
        <div class="news-page-content-details_date">
            <p>{{news.created}}</p>
        </div>
        <div class="news-page-content-details_para">
            {{news.body | safe}}
        </div>
    </div>
    <div class="news-page-content-img">
        <img src="/media/{{news.image}}" alt="">
    </div>
</div>
{% endblock content %}